<h1>Administrasjonspanel</h1>
<table>
	<tr>
		<td><img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/users.png" alt="picture" /></td>
		<td><a href="/articleadmin"><img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/news.png" alt="picture"></a></td>
		<td><img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/Anonymous_Text_Page_Icon.png" alt="picture" /></td>
		<td><img src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/pages.png" alt="picture"></td>
	</tr>
	<tr>
		<td>Brukere</td>
		<td>Nyheter</td>
		<td>Sider</td>
		<td>Undersider</td>
	</tr>

</table>

