<div id="admin">
<h1>Administrasjonspanel</h1>
<table>
	<tr>
		<td><a href="<%= users_path %>"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/users.png" alt="picture" /></a></td>
		<td><a href="/articleadmin"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/news.png" alt="picture"></a></td>
		<td><a href="/pagesadmin"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/Anonymous_Text_Page_Icon.png" alt="picture" /></a></td>
		<td><a href="/eventsadmin"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/pages.png" alt="picture"></a></td>
		
	</tr>
	<tr>
		<td>Brukere</td>
		<td>Nyheter</td>
		<td>Sider</td>
		<td>Aktiviteter</td>
		
	</tr>
	
	<tr>
		<td><a href="/albumadmin"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/PhotoAlbum.png" alt="picture"></a></td>
		<% if Contactinfo.find(:all).count > 0 %>
		<% info = Contactinfo.first %>
		<td><a href="<%= edit_contactinfo_path info%>"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/kontakt.jpg" alt="picture"></a></td>
		<% end %>
		<td><a href="/sideboxes"><img class="avatar" src="https://dl.dropbox.com/u/7238474/Ullerntennisbilder/stock-box.jpg" alt="picture"></a></td>

	</tr>
	
	<tr>
		<td>Bilder</td>
		<td>Kontakt info</td>
		<td>Sideboks</td>
	</tr>

</table>

</div>
