#article_header {
	float:left;
	width:530px;
}

#article_header img{
	width:530px;
	height:350px;
}

#article_header small{
	font-style:italic;
}

#article_content img{
	float:left;
	width:285px;
	height:220px;
	padding:5px 10px 0px 0px;
}

#edit_field{
	width:700px;
	margin:0 0 0 20px;
}
