#article_header {
	float:left;
	width:530px;
}

#article_header img{
	width:530px;
	height:350px;
}

#article_header small{
	font-style:italic;
}

#article_content img{
	float:left;
	width:285px;
	height:220px;
	padding:5px 10px 0px 0px;
}

#edit_field{
	width:700px;
	margin:0 0 0 20px;
}
#ingress {
	width: 320px;
	float: left;
	padding-left: 5px;
}
#ingress h2{
	margin:20px 0 0 0;
}
#pagination_wrapper {
	width:550px;
	margin:10px 0 20px 0;
	float:left;
}
#old_news {
	margin-top: 15px;
	float: left;
	width: 180px;
}

#old_news h3 {
	margin-top: -5px;
	margin-left: 5px;
}
#old_news img {
	width: 175px;
	height: 100px;
}
#image {
	width: 215px;
	float: left;
	margin:0 0 15px 0;
}
